<header>
    <nav>
        <ul>
            <li><a href="/fotos">Fotos</a></li>
            <div id="navDiv">
                <li><a href="/fotos/create">Crear</a></li>
                <li><a href="/fotos/masvotadas">Mas Votadas</a></li>
                <li><a href="/fotos/menosvotadas">Mas Dislikes</a></li>
            </div>
        </ul>
    </nav>
</header>